<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle Name="BinXray Setup"
          Manufacturer="Russlan Kafri"
          Version="$(var.ProductVersion)"
          UpgradeCode="{73D8B10D-8D11-4D1A-B5F2-3BC2694862B6}"
          IconSourceFile="$(var.AppIconPath)">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication Theme="none" />
    </BootstrapperApplication>

    <Chain>
      <MsiPackage SourceFile="$(var.MsiPath)"
                  Visible="yes"
                  Permanent="no" />
    </Chain>
  </Bundle>
</Wix>
